In [ ]:
import numpy as np
import pandas as pd
import os
import scipy.io
import matplotlib.pyplot as plt
from scipy import signal

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
PathCsv = "/content/drive/MyDrive/CSVsb4filterADHDAndNon/dfADHDhalf.csv"
dfADHDnew=pd.read_csv(PathCsv)

In [ ]:
len(dfADHDnew)

9912822

In [ ]:
dfADHDnew.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,Label
0,0,1317.0,719.0,1340.0,437.0,1304.0,1083.0,1120.0,52.0,1083.0,...,1304.0,347.0,1156.0,52.0,862.0,52.0,1282.0,332.0,825.0,ADHD
1,1,1317.0,825.0,1377.0,543.0,1377.0,1046.0,1120.0,273.0,1083.0,...,1451.0,384.0,1120.0,347.0,1120.0,273.0,1493.0,613.0,1106.0,ADHD
2,2,1458.0,930.0,1561.0,649.0,1488.0,825.0,1230.0,236.0,1230.0,...,1488.0,384.0,1230.0,347.0,1156.0,126.0,1458.0,332.0,930.0,ADHD
3,3,1423.0,754.0,1304.0,508.0,1230.0,1193.0,1009.0,163.0,1156.0,...,1230.0,347.0,1046.0,273.0,972.0,163.0,1353.0,367.0,965.0,ADHD
4,4,1423.0,930.0,1377.0,649.0,1340.0,788.0,1083.0,347.0,1230.0,...,1267.0,494.0,972.0,457.0,1083.0,310.0,1458.0,437.0,1106.0,ADHD

In [ ]:
dfADHDnew.describe()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
count,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06,9.912822e+06
mean,4.956410e+06,1.363262e+02,1.363926e+02,1.423846e+02,1.362746e+02,1.424651e+02,1.423675e+02,1.424707e+02,1.421468e+02,1.421831e+02,1.417193e+02,1.423273e+02,1.416594e+02,1.419537e+02,1.413920e+02,1.418205e+02,1.411126e+02,1.352313e+02,1.351058e+02,1.352289e+02
std,2.861585e+06,2.444668e+02,2.661514e+02,1.875362e+02,1.984322e+02,1.930816e+02,1.942565e+02,1.894416e+02,1.779880e+02,2.070287e+02,1.873510e+02,2.101374e+02,2.042033e+02,1.843683e+02,1.986957e+02,1.557130e+02,1.865037e+02,2.018690e+02,1.838056e+02,1.769716e+02
min,0.000000e+00,-3.786000e+03,-1.322400e+04,-3.884000e+03,-1.323700e+04,-3.921000e+03,-3.884000e+03,-3.884000e+03,-3.958000e+03,-3.921000e+03,-3.921000e+03,-3.995000e+03,-3.958000e+03,-3.958000e+03,-3.995000e+03,-3.921000e+03,-3.958000e+03,-3.751000e+03,-3.680000e+03,-3.751000e+03
25%,2.478205e+06,5.000000e+01,1.500000e+01,5.200000e+01,5.000000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,1.500000e+01,5.000000e+01,5.000000e+01
50%,4.956410e+06,1.210000e+02,1.210000e+02,1.260000e+02,1.210000e+02,1.260000e+02,1.260000e+02,1.260000e+02,1.260000e+02,1.260000e+02,1.260000e+02,1.260000e+02,1.260000e+02,1.260000e+02,1.260000e+02,1.260000e+02,1.260000e+02,1.210000e+02,1.210000e+02,1.210000e+02
75%,7.434616e+06,2.260000e+02,2.260000e+02,2.360000e+02,2.260000e+02,2.360000e+02,2.360000e+02,2.360000e+02,2.360000e+02,2.360000e+02,2.360000e+02,2.360000e+02,2.360000e+02,2.360000e+02,2.360000e+02,2.000000e+02,2.000000e+02,2.260000e+02,2.260000e+02,2.260000e+02
max,9.912821e+06,1.381300e+04,4.802000e+03,5.020000e+03,4.802000e+03,5.430000e+03,5.020000e+03,5.020000e+03,5.020000e+03,5.020000e+03,5.020000e+03,5.020000e+03,5.020000e+03,5.020000e+03,5.064000e+03,5.016000e+03,5.016000e+03,4.802000e+03,4.802000e+03,4.802000e+03

In [ ]:
channel_list = ['Fp1', 'Fp2', 'F3', 'F4', 'C3', 'C4', 'P3', 'P4', 'O1', 'O2', 'F7', 'F8', 'T7', 'T8','P7','P8','Fz','Cz','Pz']
dfADHDnew.drop(columns='Unnamed: 0', axis=1, inplace=True)

In [ ]:
dfADHDnew.shape

(9912822, 20)

In [ ]:
dfADHDnew.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,Label
0,1317.0,719.0,1340.0,437.0,1304.0,1083.0,1120.0,52.0,1083.0,163.0,1304.0,347.0,1156.0,52.0,862.0,52.0,1282.0,332.0,825.0,ADHD
1,1317.0,825.0,1377.0,543.0,1377.0,1046.0,1120.0,273.0,1083.0,384.0,1451.0,384.0,1120.0,347.0,1120.0,273.0,1493.0,613.0,1106.0,ADHD
2,1458.0,930.0,1561.0,649.0,1488.0,825.0,1230.0,236.0,1230.0,200.0,1488.0,384.0,1230.0,347.0,1156.0,126.0,1458.0,332.0,930.0,ADHD
3,1423.0,754.0,1304.0,508.0,1230.0,1193.0,1009.0,163.0,1156.0,163.0,1230.0,347.0,1046.0,273.0,972.0,163.0,1353.0,367.0,965.0,ADHD
4,1423.0,930.0,1377.0,649.0,1340.0,788.0,1083.0,347.0,1230.0,310.0,1267.0,494.0,972.0,457.0,1083.0,310.0,1458.0,437.0,1106.0,ADHD

In [ ]:
dfADHDnew = dfADHDnew.drop(columns='Label')

In [ ]:
# n = int(np.round(int(9912822) / 10 )) #taking 10% of samples.

In [ ]:
# df_partial = dfADHDnew.iloc[:n]

In [ ]:
# df_partial

In [ ]:
# pip install mne

In [ ]:
# Data Visualisation ADHD: 
# import numpy as np
# import pandas as pd 
# import mne

# path = PATH

# sfreq = 128 
# info = mne.create_info(ch_names = channel_list, sfreq = sfreq)
# raw = mne.io.RawArray(dfAll.transpose(), info)
# raw.plot()

In [ ]:
#Not dropping any column as visual inspection does not show bad channels. The fluctuations can be corrected in filtering.

# Filtering using scipy

In [ ]:
from scipy.io import loadmat
import numpy as np
import pandas as pd
import csv
import pickle
import os
import seaborn as sns
from scipy.signal import butter, filtfilt
from scipy.stats import zscore
import scipy.io

import matplotlib.pyplot as plt
import io
import matplotlib.cm as cm
from collections import defaultdict

In [ ]:
#Filtering ADHD
def filter(data, lowFreq, highFrequency, sf):
    data_filter = np.zeros_like(dfADHDnew)
    f_Nyquist = sf / 2.  # Nyquist frequency
    b_low = lowFreq / f_Nyquist  # normalized frequency [0..1]
    b_high = highFrequency / f_Nyquist  # normalized frequency [0..1]
    # band-pass filter parameters
    p_lowp = {"N":6, "Wn":b_high, "btype":"lowpass", "analog":False, "output":"ba"}
    p_highp = {"N":6, "Wn":b_low, "btype":"highpass", "analog":False, "output":"ba"}
    bp_b1, bp_a1 = butter(**p_lowp)
    bp_b2, bp_a2 = butter(**p_highp)
    data_filter = filtfilt(bp_b1, bp_a1, data, axis=0)
    data_filter = filtfilt(bp_b2, bp_a2, data_filter, axis=0)
    return data_filter

In [ ]:

# #  Function to read in the EEG data and extract the valid lead data, low and high pass filter and z-transform the data.
# #  Returns a dataframe.
def get_EEG_data(path, filename):
    # Extract the data from one of these files.
    hz = 128
    dat = dfADHDnew.filter(list(range(0, 18)))
    dat.columns = list(range(1, 15))
    dat = dat.filter([0,1,2, 3, 4,5,6, 7, 8, 9,10,11,12,13,14,15,16,17,18,19], axis=1)
    labels = ['Fp1', 'Fp2', 'F3', 'F4', 'C3', 'C4', 'P3', 'P4', 'O1', 'O2', 'F7', 'F8', 'T7', 'T8','P7','P8','Fz','Cz','Pz']
    dat.columns = labels
      # Filter the data, high pass 2 Hz, low pass 40 Hz.
    lo, hi = 2, 40
    # Do the filtering.
    datf = filter(dat.to_numpy(), lo, hi, hz)
    # Convert back to a dataframe.
    dat = pd.DataFrame({c: datf[:, i] for i,c in enumerate(labels)})
    
    return dat

In [ ]:
# Filter the data, high pass 2 Hz, low pass 40 Hz.
lo, hi = 2, 40
hz = 128
# Do the filtering.
datf = filter(dfADHDnew.to_numpy(), lo, hi, hz)

In [ ]:
datf.shape

(9912822, 19)

In [ ]:
dfilter = pd.DataFrame(datf)
dfilter.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-48.752284,-9.027715,-36.867505,4.974463,-36.782701,-41.636984,-36.739793,3.648443,-37.114452,0.689376,-36.284352,14.576403,-41.709413,0.441591,-49.369791,-2.103008,-24.771618,5.346089,-30.608278
1,19.346161,131.486975,113.058721,153.625353,121.674405,-137.338432,45.628538,194.676396,33.735670,153.873976,181.489240,60.041355,1.474748,263.251959,217.761664,144.103032,204.352809,204.629642,189.629490
2,110.102698,163.178073,178.421810,189.474432,158.471664,-92.928056,62.875979,179.261472,117.229522,111.876373,198.693475,60.291321,42.335193,290.446537,274.169297,125.340145,252.332328,136.431393,197.358521
3,187.769164,157.339632,176.945465,192.129141,131.260140,-49.716850,42.402771,130.612329,191.376329,20.617598,108.668709,92.126183,7.588271,242.497530,205.092807,113.284835,238.303946,47.015849,169.771939
4,201.171462,136.903249,144.427349,212.108806,90.893764,-79.015836,20.610938,186.279607,220.052259,47.301293,61.771723,144.878070,-93.051595,279.762179,135.778164,130.915230,228.054368,80.390706,223.209225

In [ ]:
dfilter.shape

(9912822, 19)

In [ ]:
dfilter.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-48.752284,-9.027715,-36.867505,4.974463,-36.782701,-41.636984,-36.739793,3.648443,-37.114452,0.689376,-36.284352,14.576403,-41.709413,0.441591,-49.369791,-2.103008,-24.771618,5.346089,-30.608278
1,19.346161,131.486975,113.058721,153.625353,121.674405,-137.338432,45.628538,194.676396,33.735670,153.873976,181.489240,60.041355,1.474748,263.251959,217.761664,144.103032,204.352809,204.629642,189.629490
2,110.102698,163.178073,178.421810,189.474432,158.471664,-92.928056,62.875979,179.261472,117.229522,111.876373,198.693475,60.291321,42.335193,290.446537,274.169297,125.340145,252.332328,136.431393,197.358521
3,187.769164,157.339632,176.945465,192.129141,131.260140,-49.716850,42.402771,130.612329,191.376329,20.617598,108.668709,92.126183,7.588271,242.497530,205.092807,113.284835,238.303946,47.015849,169.771939
4,201.171462,136.903249,144.427349,212.108806,90.893764,-79.015836,20.610938,186.279607,220.052259,47.301293,61.771723,144.878070,-93.051595,279.762179,135.778164,130.915230,228.054368,80.390706,223.209225

In [ ]:
labels = ['Fp1', 'Fp2', 'F3', 'F4', 'C3', 'C4', 'P3', 'P4', 'O1', 'O2', 'F7', 'F8', 'T7', 'T8','P7','P8','Fz','Cz','Pz']
dfilter.columns = ['Fp1', 'Fp2', 'F3', 'F4', 'C3', 'C4', 'P3', 'P4', 'O1', 'O2', 'F7', 'F8', 'T7', 'T8','P7','P8','Fz','Cz','Pz']

In [ ]:
# Code ommented out. Can be used for wave plot as in following cells.
# PATHEEGSignalPlot="/content/drive/MyDrive/EEGSignalPlot/"
# def plotleads(dat, leads, start, seconds, hz,state):
#     for i, lead in enumerate(leads):   
#         #print('Lead ' + lead)
#         a=PATHEEGSignalPlot+'Lead_'+str(lead)+'_'+str(state)+".png"
#         plt.figure(figsize=(16,10))
#         ax = plt.gca()
#         k=(start+seconds*hz)
#         print(str(start) + ':'+ str(k))
#         plt.plot(dat.loc[start: k, lead])   
#         plt.title('Lead ' + lead + state)
#         plt.savefig(a)
#         plt.show()
#         _ = ax.axis('off')

In [ ]:
#Ignore this cell. Not used.
EEG_file_number = 0   
filename = 'eeg_record' + str(EEG_file_number) + '.mat'
print(dfilter.shape)

In [ ]:
# #Focused wave plot
# labels = ['F7', 'F3', 'P7', 'O1', 'O2', 'P8', 'AF4']
# start = 5*60*128
# seconds = 5
# hz = 128
# state="Non-ADHD"
# plotleads(dfilter, labels, start, seconds, hz,state)

In [ ]:
# #UnFocused  wave plot
# labels = ['F7', 'F3', 'P7', 'O1', 'O2', 'P8', 'AF4']
# start =15* 60*128
# seconds = 5
# hz = 128
# state="ADHD"
# plotleads(dat, labels, start, seconds, hz,state)

In [ ]:
dfilter.head() #filtered data only for ADHD

,Fp1,Fp2,F3,F4,C3,C4,P3,P4,O1,O2,F7,F8,T7,T8,P7,P8,Fz,Cz,Pz
0,-48.752284,-9.027715,-36.867505,4.974463,-36.782701,-41.636984,-36.739793,3.648443,-37.114452,0.689376,-36.284352,14.576403,-41.709413,0.441591,-49.369791,-2.103008,-24.771618,5.346089,-30.608278
1,19.346161,131.486975,113.058721,153.625353,121.674405,-137.338432,45.628538,194.676396,33.735670,153.873976,181.489240,60.041355,1.474748,263.251959,217.761664,144.103032,204.352809,204.629642,189.629490
2,110.102698,163.178073,178.421810,189.474432,158.471664,-92.928056,62.875979,179.261472,117.229522,111.876373,198.693475,60.291321,42.335193,290.446537,274.169297,125.340145,252.332328,136.431393,197.358521
3,187.769164,157.339632,176.945465,192.129141,131.260140,-49.716850,42.402771,130.612329,191.376329,20.617598,108.668709,92.126183,7.588271,242.497530,205.092807,113.284835,238.303946,47.015849,169.771939
4,201.171462,136.903249,144.427349,212.108806,90.893764,-79.015836,20.610938,186.279607,220.052259,47.301293,61.771723,144.878070,-93.051595,279.762179,135.778164,130.915230,228.054368,80.390706,223.209225

In [ ]:
dfilter.to_csv('/content/drive/MyDrive/CSVsb4filterADHDAndNon/ADHDfiltered.csv')

##Apply ICA to filtered data

In [ ]:
from sklearn.datasets import load_digits
from sklearn.decomposition import FastICA
X = dfilter
transformer = FastICA(n_components=7,random_state=0,whiten='unit-variance')
X_transformed = transformer.fit_transform(X) #Had worked with df at beginning.
X_transformed.shape
# (1797, 7)
print(X_transformed[0:5, :])
print(X_transformed.shape)
# print(X_transformed)
# X_transformed is just one column so how to now extract features? we consider that as one channel and extract band waves?

[[ 2.11367774e-05 -4.57027856e-05  1.80436507e-05  2.54108413e-05
   1.49034895e-04 -2.80846810e-05 -2.81431956e-05]
 [-8.87617639e-06 -8.56821499e-05  3.08100427e-04  2.99665358e-05
  -3.80117224e-04 -4.82763468e-04 -4.53758992e-05]
 [ 1.08136676e-04 -1.94989029e-04  3.67162275e-04  7.70193584e-05
  -5.70543854e-04 -4.30654372e-04  2.57948794e-05]
 [ 1.91530780e-04 -5.18474449e-04  4.34467072e-04  1.63164498e-04
  -5.15776960e-04 -2.99401106e-04  1.05564250e-04]
 [ 9.53583260e-05 -8.43063558e-04  5.81272852e-04  1.82907243e-04
  -3.86291064e-04 -3.86742996e-04  1.03767229e-04]]
(9912822, 7)

In [ ]:
dfICA_Dataset1 = pd.DataFrame(X_transformed)
# dfICA_Dataset1.to_csv('dfICA_Dataset1ADHD.csv')

In [ ]:
dfICA_Dataset1.head()

          0         1         2         3         4         5         6
0  0.000021 -0.000046  0.000018  0.000025  0.000149 -0.000028 -0.000028
1 -0.000009 -0.000086  0.000308  0.000030 -0.000380 -0.000483 -0.000045
2  0.000108 -0.000195  0.000367  0.000077 -0.000571 -0.000431  0.000026
3  0.000192 -0.000518  0.000434  0.000163 -0.000516 -0.000299  0.000106
4  0.000095 -0.000843  0.000581  0.000183 -0.000386 -0.000387  0.000104

In [ ]:
len(dfICA_Dataset1)

9912822

In [ ]:
dfICA_Dataset1.columns = ['A','B','C','D','E','F','G']
dfICA_Dataset1.head()
dfICA_Dataset1['Label'] = pd.Series(['ADHD' for x in range(len(dfICA_Dataset1.index))])

In [ ]:
dfICA_Dataset1.head()

          A         B         C         D         E         F         G Label
0  0.000021 -0.000046  0.000018  0.000025  0.000149 -0.000028 -0.000028  ADHD
1 -0.000009 -0.000086  0.000308  0.000030 -0.000380 -0.000483 -0.000045  ADHD
2  0.000108 -0.000195  0.000367  0.000077 -0.000571 -0.000431  0.000026  ADHD
3  0.000192 -0.000518  0.000434  0.000163 -0.000516 -0.000299  0.000106  ADHD
4  0.000095 -0.000843  0.000581  0.000183 -0.000386 -0.000387  0.000104  ADHD

In [ ]:
# dfICA_Dataset1.to_csv('dfICA_Dataset1ADHD.csv')
dfICA_Dataset1.to_csv('/content/drive/MyDrive/CSVsb4filterADHDAndNon/dfICA_Dataset1ADHD.csv')